{% extends "base.html" %}
{% block title %}
Contact Us
{% endblock title %}

{% block Contact %}
active
{% endblock Contact %}


{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h1 class="text-center bg-primary">Contact Us</h1>
            {% include "messages.html" %}
            <form action="/contact/" method="post">{% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="Name" class="form-label mt-4">Fullname</label><i class="fas fa-user"></i>
                        <input type="text" class="form-control" placeholder="please enter your fullname here" name="name" required/>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label><i class="fa-solid fa-envelope"></i>
                        <input type="email" class="form-control" value="{{user.email}}" placeholder="please enter your email here" name="email" required>
                    </div>

                    <div class="form-group">
                      <label for="phone" class="form-label mt-4">Phone Number</label><i class="fas fa-phone-alt"></i>
                      <input type="number" id="Phone Number" class="form-control" placeholder="please enter your phone number here" name="num" required/>
                    </div>

                    <div>
                        <label for="exampleTextarea" class="form-label mt-4">How can i help you?</label><i class="far fa-question-circle"></i>
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Please write to us here" name="desc" required></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock body %}


{% block footer %}
<!-- Footer Section -->
<footer class="bg-light text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center text-md-center mt-4">
                    <p class="text-primary">&copy; 2025 MAXIFY HUB. All rights reserved.</p>
                    <p class="text-primary">Developed by: Maximus .I. David</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Add FontAwesome and Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

{% endblock footer %}