{% extends 'base.html' %} 
{% block title %}
 Courses 
{% endblock title %} 
{% block Courses %} 
active 
{% endblock Courses %} 

{% block body %}
<div class="container mt-2">
    <h1 class="text-center">Available Courses</h1>
    {% include "messages.html" %}

    {% if allPosts|length < 1 %}
    Your search <b>{{ query }}</b> did not match any results.
    <ul>
        <li>Make sure your spelling is correct.</li>
    </ul>
    {% endif %}



    <div class="row">


        {% for c in allPosts %}
        <div class="col-md-3">
        <div class="card ml-3">
            <img src="{{ c.image.url }}" id="card-img" class="card-img-top p-3" height="200px" alt="not found" />
            <div class="card-body">
                <h3 class="card-title">{{c.courseName}}</h3>
                <p class="card-text"> <b>Fee: ₦{{c.courseFee}}</b>  | <b>Duration:{{c.courseDuration}} Months</b></p>
                <h4>{{c.stars}}<i class="fa-regular fa-star"></i></h4>

                <a href="/course/{{c.courseName}}/" class="btn btn-primary">Know More</a>
                <a href="/enroll/" class="btn btn-outline-primary">Enroll</a>
            </div>
    
        </div>
    </div>            

    {% endfor %}

</div>
    


{% endblock body %}



{% block footer %}
<!-- Footer Section -->
<footer class="bg-light text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center text-md-center mt-4">
                    <p class="text-primary">&copy; 2025 MAXIFY HUB. All rights reserved.</p>
                    <p class="text-primary">Developed by: Maximus .I. David</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Add FontAwesome and Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

{% endblock footer %}
