{% extends "base.html" %}
{% block title  %} Set New Password {% endblock title  %}
{% block body %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h1 class="text-center bg-primary">Signup</h1>
            <hr>
            <a href="{% provider_login_url 'google' %}">Click Here</a>to Login with<i class="fa-brands fa-google"></i>
            {% include "messages.html" %}
            <form action="{% url 'set-new-password' uidb64 token %}" method="post">{% csrf_token %}
              <fieldset>

                <div>
                  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" placeholder="please create your Password" autocomplete="off">
                  <small id="passwordHelp" class="form-text text-muted">Password should be at least 6 characters. <br> It should contain at least Uppercase, Lowercase, digit and special character.</small>
                </div>

                <input type="checkbox" onclick="showPassword()"><span id="sp">Show Password</span><i class="fa-solid fa-eye"></i>
                <br>
                <small>Password must include atleast [1-9][a-z][A-Z][_-@!#$%^&*)(]& 5 characters</small>

                <div>
                  <label for="exampleInputConfirmPassword1" class="form-label mt-4">Confirm Password</label>
                  <input type="password" class="form-control" id="exampleInputConfirmPassword1" name="exampleInputConfirmPassword1" placeholder="Please Re-Enter Password" autocomplete="off">
                </div>

              <button type="submit" class="btn btn-primary">Reset</button>
              
            </fieldset>
          </form>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock body %}


{% block script %}
<script>

  function showPassword(){
    var x = document.getElementById("exampleInputPassword1");
    var z = document.getElementById("exampleInputConfirmPassword1");
    var y = document.getElementById("sp");
    if (x.type ==="password" && z.type==="password") {
      x.type = "text";
      z.type="text";
      y.innerText="Hide Password";
    } else {
      x.type = "password";
      z.type="password";
      y.innerText="Show Password";
    }
  }
</script>
      
{% endblock script %}


{% block footer %}
<!-- Footer Section -->
<footer class="bg-light text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center text-md-center mt-4">
                    <p class="text-primary">&copy; 2025 MAXIFY HUB. All rights reserved.</p>
                    <p class="text-primary">Developed by: Maximus .I. David</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Add FontAwesome and Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

{% endblock footer %}